@import '../../../variables';

.Noticias{
    display: flex;
    height: 600px;
    flex-direction: column;
    align-items: baseline;
    border: 1px solid $border-color;
    box-shadow: 2px 2px 2px $shadow-color;
    border-radius: 8px;
    margin: 0.5rem;
    padding-bottom: 0.5rem;

    .carousel{
        width: 99%;
    }

    h1 {
        font-size: 1.8rem ;
        margin: 0.5rem ;
    }

        .inner {
            display: grid;
            grid-template-columns: 1.5fr 3.5fr;
            margin: 3rem 1rem 0 1rem;
            height: 400px;
            justify-content: center;
            padding: 0;

        img{
            width: 100% !important;
            height: 100% !important;
            border: 2px solid $blue-letter;
            border-radius: 20px 0 0 20px;
            border-right: none;
        }

        .card{
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid $blue-letter;
            border-left: none;
            border-radius: 0 20px 20px 0;    
            padding: 0;
            color: aliceblue;
            background-color: $dark-text-color;
            

    
            h3{
                width: 85%;
                font-size: 2rem;
                margin-bottom: 0.7rem !important;
            }

            h5{
                font-size: 1.4rem;
                margin-bottom: 0.7rem !important;
                color: $blue-letter;
            }
    
            p{  
                font-size: 0.8rem;
                margin-bottom: 0.7rem !important;
                width: 85%;
                text-align: justify;
            }

            a{
                color: $select-input-background;
                text-decoration: underline !important;
                margin: 0 !important;
            }
        }
    }

    .carousel-indicators {
        button{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        }
    }

    .carousel-control-prev, .carousel-control-next{
        width: 7% !important;
    }
}

@media (max-width: 1370px) {

    .Noticias{
        height: 370px !important;

        h1 {
            font-size: 1.85em ;
            margin: 0.5rem ;
        }

        height: 342px;
        margin: 0.3rem;
        padding-bottom: 0.3rem;
    }

    .inner {
        margin: 0.8rem;
        height: 260px !important;
        grid-template-columns: 1.3fr 3.7fr !important;
        margin: 1.5rem 1rem 0 1rem !important; 

        .card{

            h3{
                font-size: 1.3rem !important;
                margin-bottom: 0.5rem !important;
            }

            h5{
                font-size: .9rem !important;
                margin-bottom: 0.7rem !important;
            }

            p{  
                font-size: 0.8rem !important;
                margin-bottom: 0.7rem !important;
            }

            tbody, td, tfoot, th, thead, tr {
                font-size: 0.8rem;
            }
        }
    }

    .carousel-indicators button {
        width: 10px !important;
        height: 10px !important;
    }

    
}
