@import '../../../variables';

.menuLateral{

    ul li{
        border: 1px solid $border-color;
    }

    ul li a{
        color: $dark-text-color;    
    }

    ul li a img{
        width: 30px;
        height: 30px;
        margin-right: 0.5rem;
    }
}