$font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$dark-text-color: #04145c;
$white-color: #ffffff;
$bck-color: #f4f4f4;
$border-color: #cccccc;
$border-color-gray: gray;
$shadow-color: #ada9a9;
$msg-erro: #FFDEAD;
$msg-sucesso: #7FFFD4;
$select-input-background: aliceblue;

$pagina-desativada: #b7daf0;
$pagina-ativada: #39aaf0;

$background: #c5d9e6;
$erro:  rgb(255, 72, 72);
$placeholder: #999;

$defaultBtn: #1197eb;
$defaultBtn-hover: #55c9f0;
$okBtn: green;
$okBtn-hover: rgb(93, 173, 93);
$escBtn: orange;
$escBtn-hover: rgb(247, 199, 109);

$blue-default: #0d6efd;