@import '../../../../variables';

.cadastroUsuarios{


    .tabela{
        height: 600px !important;
        overflow-y: visible !important;
    }

    h2{
        font-size: 1.5rem;
        margin: 0.8rem;
    }

    .titulo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    
        .px-4{
            width: 50rem;
            margin: auto 0 !important;
            --bs-pagination-border-color: gray !important;
        }
    }

    .paginação{
        width: auto;
        display: flex;
        margin: auto 0 !important;
        

        .input-group{
            width: 11rem;
            margin: auto 0 !important;
            
            label, select{
                border: 1px solid gray;
                color: $white-color;
            }

            label{
                background-color: #0d6efd;
            }

            #inputGroupSelect01{
                color: $dark-text-color !important;
            }
        }

        label{
            background-color: #0d6efd;
        }
    }

    
    .filtro{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .btn-filtros{
            cursor: pointer;
        }

        .linhafilterHidden{
            display: none !important;
            transition: all 0.2s ease-in-out;
        }
    
        .linha {
            display: flex !important;
            flex-direction: row !important;
            justify-content: space-around!important;
            gap: 0.5rem;
            margin: 0 1rem 0 0.5rem ;

            .search{
                margin-left: 1rem;
                display: flex !important;
                gap: 1rem;
                align-content: center;

                button{
                    background-color: transparent ;
                    margin-top: 0.5rem;
                    align-items: center;

                    img{
                        width: 30px;
                    }
                }
            }

            .input-filtro{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 12rem;

                .data{
                    width: auto!important;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: auto;


                }
                
                input{
                    margin-top: 0.15rem;
                }

                label{
                    border: 1px solid black;
                    border-radius: 8px 8px 0 0;
                    font-weight: bold;
                    background-color: #0d6efd;
                    color: $white-color;
                }

                input, select{
                    border: 1px solid black;
                    border-radius: 0 0 8px 8px;
                    padding: 0 0.5rem;
                    color: $dark-text-color;
                    line-height: none;
                }
            }

            .dtInicio{
                border-radius: 0 0 0 8px !important;
            }

            .dtFim{
                border-radius: 0 0 8px 0 !important;
            }

            .input-filtro-menor{
                width: 8rem !important
            }

            .input-filtro-data{
                width: 17rem !important
            }

        }
    }


    .table{
        text-align: left;
        width: 100% !important;
        overflow-y: visible !important;
    }

    td{
        padding: 0.1rem 0.5rem !important;
        font-size: 0.9rem !important;
        height: 5px !important;
    }

   .icon{
        width: 20px;
        cursor: pointer;
   }

   .disable{
    cursor: default;
   }

   .shared{
       cursor: default !important;
       
   }

   .short{
    width: 8rem;
    padding: 0 0.1rem;
    text-align: center;
   }

   .msg{
    width: 40rem;
    margin: 2rem auto;
    padding:  0.5rem 1rem;
    color: $dark-text-color;
    font-weight: 700;
    border-radius: 9px;
    }

    .hidden{
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }

    .success{
        opacity: 1;
        background-color: aquamarine;
        transition: all 0.2s ease-in-out;
    }

    .error{
        opacity: 1;
        background-color: rgb(255, 127, 127);
        transition: all 0.2s ease-in-out;
    }



}