@import '../../../../variables';

.cadastroUsuarios{

    h2{
        font-size: 1.5rem;
        margin: 1rem;
    }

    .titulo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    table{
        text-align: left;
    }

    td{
        padding: 0.1rem 0.5rem !important;
    }

   .icon{
        width: 20px;
        cursor: pointer;
   }

   .short{
    width: 8rem;
    padding: 0 0.1rem;
    text-align: center;
   }
}