@import '../../../../../variables';

.cadastroNoticias{
    transform: translateY(-125px);

    .tabela{
        height: 625px !important;
        overflow-y: scroll !important;
        overflow-x: scroll !important;

        thead{
            position: sticky;
            top: 0;
        }
    }

    h2{
        font-size: 1.5rem;
        margin: 0.8rem;
        padding: 0.2rem;
    }

    .titulo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .table{
        text-align: left;
        width: 100% !important;
        overflow-y: visible !important;
    }

    td, th{
        padding: 0.1rem 0.5rem !important;
        font-size: 0.9rem !important;
        height: 5px !important;
        white-space: nowrap;
    }

   .icon{
        width: 20px;
        cursor: pointer;
   }

   .disable{
    cursor: default;
   }

   .shared{
       cursor: default !important;
       
   }

   .short{
    width: 8rem;
    padding: 0 0.1rem;
    text-align: center;
   }

   .msg{
    width: 40rem;
    margin: 2rem auto;
    padding:  0.5rem 1rem;
    color: $dark-text-color;
    font-weight: 700;
    border-radius: 9px;
    }

    .hidden{
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }

    .success{
        opacity: 1;
        background-color: aquamarine;
        transition: all 0.2s ease-in-out;
    }

    .error{
        opacity: 1;
        background-color: rgb(255, 127, 127);
        transition: all 0.2s ease-in-out;
    }

}

@media (max-width: 1370px) {

    .cadastroNoticias{
        .tabela{
            height: 360px !important;
        }

        .titulo{
            margin: 0;
            padding: 0 0.7rem;

            h2{
                font-size: 1.2rem;
                margin: 0.5rem;
                padding: 0.2rem;
            }
    
            .btn-filtros{
                cursor: pointer;
                font-size: 0.9rem !important;
            }
        
        }

        .filtro{
            p{
                font-size: 0.9rem !important;
            }
        }

        .table{
            text-align: left;
            width: 100% !important;
            overflow-y: visible !important;
        }
    
        td, th{
            padding: 0.1rem 0.5rem !important;
            font-size: 0.7rem !important;
            height: 5px !important;
        }

        .icon{
            width: 15px;
        }   
    }

}