@import '../../../../../variables';

.cadastroImpressoras{

    .tabela{
        overflow-y: scroll !important;
        overflow-x: scroll !important;
        
        thead{
            position: sticky;
            top: 0;
        }
    }

    
    .table{
        text-align: left;
        width: 100% !important;
        overflow-y: visible !important;
    }

    td{
        padding: 0.1rem 0.5rem !important;
        font-size: 0.9rem !important;
        height: 5px !important;
    }

   .icon{
        width: 20px;
        cursor: pointer;
   }

   .disable{
    cursor: default;
   }

   .shared{
       cursor: default !important;
       
   }

   .short{
    width: 8rem;
    padding: 0 0.1rem;
    text-align: center;
   }
}

@media (max-width: 1520px) {

    .cadastroImpressoras{

        .filtro{
            p{
                font-size: 0.9rem !important;
            }
        }

        .table{
            text-align: left;
            width: 100% !important;
            overflow-y: visible !important;
        }
    
        td, th{
            padding: 0.1rem 0.5rem !important;
            font-size: 0.7rem !important;
            height: 5px !important;
        }

        .icon, .lixeira{
            width: 15px;
        }   
    }

}