@import '../../../../variables';

.fechamentoEstoque{
    display: grid;
    grid-template-rows: auto 1fr;

    .subTitulo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;

        .busca{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
    
            select{
                height: 30px;
                padding: 0 5px;
                border: 1px dashed $border-color-gray;
                border-radius: 6px;
            }
        }
    }

    .relatorio{
        height: 100%;

        .report{
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:1rem;
            margin: 0 1rem;
            
            .compras, .produção{
                height: 100%;

                .tabela{
                    height: 90%;
                    overflow-y: visible;     
                    text-align: left;
                    
                    .tab-esq, .tab-dir, .tot-geral{
                        border: 1px dotted rgb(146, 146, 177);

                        .grupo{
                            
                            h2{
                                background-color: $background;
                                text-align: center;
                                padding: 0.3rem;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }

        
    }



    h1{
        font-size: 1.5rem;
        margin: 0.8rem;
        text-align: center;
    }

    h2{
        font-size: 1.2rem;
        text-align: left;
    }

    p{
        font-size: 0.8rem;
    }

    td{
        padding: 0.1rem 0.5rem !important;
        font-size: 0.9rem !important;
        height: 5px !important;
    }

   .icon{
        width: 20px;
        cursor: pointer;
   }

   .disable{
    cursor: default;
   }

   .shared{
       cursor: default !important;
   }
}

@media (max-width: 1370px) {

    .fechamentoEstoque{


        .subTitulo{
            .busca{
                select{
                    height: 25px;
                }
            }
        }

        .report{
            height: 395px;

            h1{
                font-size: 1.2rem;
            }

            table{
                margin-bottom: 0.2rem;

                h2{
                    font-size: 0.9rem; 
                    margin: 0;
                }

                .table{
                    margin: 0 !important;
                    padding: 0 !important;

                    thead{
                        margin: 0 !important;
                        padding: 0 !important;
                    }
                }
            }
        }

        .tabela{
            height: 355px;
            overflow-y: visible;     
            text-align: left;
            width: 100%;
        }

        
        hr{
            padding: 0;
            margin: 0 0  0.6rem 0;
        }

        td{

            p{
                padding: 0.1rem 0.5rem !important;
                font-size: 0.65rem !important;
                height: 17px !important;
            }

        }
    }

}