@import '../../../../variables';

.fechamentoEstoque{

    .titulo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    
        .px-4{
            width: 50rem;
            margin: auto 0 !important;
            --bs-pagination-border-color: gray !important;
        }
    }

    .topo{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        select{
            background-color:  rgb(245, 238, 238) !important;
            height: 30px;
            padding: 0 5px;
            border: 1px solid gray;
        }

        button{
            margin: 0 !important;
        }
    }
    
    .tabela{
        height: 600px !important;
        overflow-y: visible !important;
    }

    h1{
        font-size: 1.5rem;
        margin: 0.8rem;
        text-align: center;
    }

    h2{
        font-size: 1.2rem;
        text-align: left;
    }

    p{
        font-size: 0.8rem;
    }

    .table{
        text-align: left;
        width: 100% !important;
        overflow-y: visible !important;
    }

    td{
        padding: 0.1rem 0.5rem !important;
        font-size: 0.9rem !important;
        height: 5px !important;
    }

   .icon{
        width: 20px;
        cursor: pointer;
   }

   .disable{
    cursor: default;
   }

   .shared{
       cursor: default !important;
   }

   .okBtn:disabled,
   .Btn:disabled {
     background-color: grey;
     color: white;
     cursor: not-allowed;
   }

   .short{
    width: 8rem;
    padding: 0 0.1rem;
    text-align: center;
   }

   .msg{
    width: 40rem;
    margin: 2rem auto;
    padding:  0.5rem 1rem;
    color: $dark-text-color;
    font-weight: 700;
    border-radius: 9px;
    }

    .hidden{
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }

    .success{
        opacity: 1;
        background-color: aquamarine;
        transition: all 0.2s ease-in-out;
    }

    .error{
        opacity: 1;
        background-color: rgb(255, 127, 127);
        transition: all 0.2s ease-in-out;
    }
}