@import '../../../variables';

.menuLateral{
    width: auto;
    
    .screen{
        color: rgb(159, 159, 192);
    }

    .arrow {
        text-align: right;
    }
    
    .arrow-left{
        width: 20px;
        margin: 0.5rem;
    }

    .left{
        transform: rotate(180deg);
        transition: all 0.2s;
    }

    .rigth{

        transition: all 0.2s;
    }

    .hidden{
        opacity: 0; /* Tornar o texto invisível */
        transition: opacity 0.3s ease-in-out; /* Adicionar uma transição de 0.3 segundos com suavização (ease) */
    }

    .nav-item{
        border: 1px solid $border-color;

        .nav-link{
            display: flex;
 
            img{
                width: 25px;
                height: 25px;
                margin-right: 0.5rem;
                transition: width 0.3s, height 0.3s
            }

            .text {
                color: $dark-text-color;   
            }
            
        }

        &:hover{
            background-color: $background;
            .nav-link .text {
                font-weight: bolder;
            }

            .nav-link img {
                width: 30px;
                height: 30px;
            }
        }
    }
}

@media (max-width: 1520px) {
    .menuLateral{

    .arrow-left{
        width: 15px !important;
        margin: 0.5rem;
    }

    .nav-item{
        .nav-link{
            img{
                width: 23px;
                height: 23px;
                margin-right: 0.4rem;
            }        
        }

        &:hover{
            .nav-link img {
                width: 27px;
                height: 27px;
            }
        }
    }

  }
}