@import '../../../variables';

.menuLateral{
    width: auto;

    .arrow {
        text-align: right;
    }
    
    .arrow-left{
        width: 20px;
        margin: 0.5rem;
    }

    .left{
        transform: rotate(180deg);
        transition: all 0.2s;
    }

    .rigth{

        transition: all 0.2s;
    }

    .hidden{
        opacity: 0; /* Tornar o texto invisível */
        transition: opacity 0.3s ease-in-out; /* Adicionar uma transição de 0.3 segundos com suavização (ease) */
    }

    .nav-link{
        display: flex;
    }

    ul li{
        border: 1px solid $border-color;
    }

    ul li a{
        color: $dark-text-color;    
    }

    ul li a img{
        width: 30px;
        height: 30px;
        margin-right: 0.5rem;
    }
}

@media (max-width: 1370px) {
    .menuLateral{
        ul li a img{
            width: 23px;
            height: 23px;
            margin-right: 0.4rem;
        }
    }

    .arrow-left{
        width: 15px !important;
        margin: 0.5rem;
    }

    .text{
        font-size: 0.8rem;
    }
  }