@import '../../../variables';


.barraSuperior{
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    padding: 1rem 2rem;
    gap: 1rem;
    align-items: center;
    
    h1{
        color:  $white-color;
        font-size: 2.5rem;
        margin: 0 !important;
    }

    h3{
        font-size: 1.2rem;
        color:  $white-color
    }

    p{
        color:  $white-color
    }

    .alter-pswd{
        text-decoration: underline;
        padding: 0.1rem 0.3rem;
        cursor: pointer;
        font-size: 0.8rem;
    }
    
    .logoTitulo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        img{
            margin-right: 1rem;
            width: 60px;
            height: 60px;
        }
    }

    .infoSair{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;

        img{
            width: 40px;
            height: 40px;
        }

        .divider {
            border-right: 2px solid rgb(247, 241, 241);
            height: 70px; /* Para estender a borda ao longo de toda a altura dos itens */
        }

        .sair{
            display: flex;
            flex-direction: column;


            
            button{
                display: flex;
                flex-direction: column;
                background-color: transparent;
                align-items: center;
                color: $white-color;
            }

            img{
                width: 100%;
                margin: auto;
            }

            p{
                margin: 0;
            }
        }



        .user, .psswd, .sair, .setor{
            padding: 0 1rem;
        }


        .arrow{
            margin-left: 1rem;
            width: 20px;
            height: 20px;
        }
    } 
    
}