@import '../../../../variables';

.controleListaVeiculos{
    display: flex;
    flex-direction: column;
    align-items: center;

    .veiculos{
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        transform: translateY(-50px);
        
        .image{
            position: relative;
            cursor: pointer;
            
            img{
                width: 350px;
                border: 1px dashed black;
                padding: 1rem;
                border-radius: 10px;
                background-color: $background;
                margin: 0.5rem;
                box-shadow: 6px 6px 8px $shadow-color; 
            }
            
             img:hover{
                border: 3px solid gray;
             }

            h2{
                position: absolute;
                bottom: 0;
                right: 10px;
                font-weight: bolder;
            }
        }

        .car{
            position: absolute !important;
            width: 50px !important;
            padding: 0 !important;
            margin: 0 !important;
            background-color: transparent !important;
            border: none !important;
            top: 20px !important;
            z-index: 99;
            left: 20px;
            box-shadow: none !important;
            border-radius: 0 !important;
        }   
    }
}

@media (max-width: 1520px) {

    .controleListaVeiculos{

        .veiculos{
            .image{
                img{
                    width: 210px !important;
                }
    
                h2{
                    right: 15px !important;
                    font-size: 1.4rem;
                }
    
                .car{
                    width: 30px !important;
                    top: 15px !important;
                    left: 15px;
                }
            }
            
        }
        

        
    }
}