@import '../../../../variables';

.etiQualidade{
    display: flex;
    flex-direction: column;
    height: auto;  

    .corpoBloco{
        width: 25rem;
        margin: 5rem auto ;

        .etiqueta{
            display: flex;
            width: 25rem;
            padding: 0.5rem;
            justify-content: center;
            gap: 1.2rem;
            border: 1px dashed $border-color-gray;
            border-radius: 10px;

            .item{
                width: 2cm;
                height: 2cm;
                background-color: $background;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                font-weight: bold;
        
                h4{
                    font-size: 1.5rem;
                    font-weight: bolder;
                }
        
                p{
                    font-size: 0.7rem;
                }
            }
        }

        .campos{
            width: 25rem;

            h2{
                font-size: 1.5rem;
                padding: 0.4rem;
            }

            span{
                color: $blue-default;
                input{
                    border: 1px dashed $border-color-gray;
                    width: 12rem;
                    padding: 0 1rem;
                    border-radius: 5px;
                    color: $blue-default;
                    font-weight: 700;
                }
            }
        }

        .impreessoras{
            width: 25rem;
            .select{
                margin: 1rem;
                border: 1px dashed $border-color-gray;
                border-radius: 5px;
            }
        }

        .btnImprimir{
            width: 25rem;

            .qtdade{
                display: flex;
                flex-direction: column;
                text-align: center;
                margin: auto;
                margin-top: 1.5rem;
        
                    input{
                    width: 5rem;
                    border: 1px dashed $border-color-gray;
                    border-radius: 8px;
                    padding: 0 0.5rem;
                    color: $dark-text-color;
                    line-height: none;
                }

                .conta{
                    display: flex;
                    justify-content: center;
                    text-align: center;
                }
            }
        }
    } 
}

@media (max-width: 1520px) {
    
    .etiQualidade{

        .corpoBloco{
            width: 22rem;
            margin: 1.7rem auto;
    
            .etiqueta{
                width: 22rem;
                gap: 1rem;
    
                .item{
                    width: 1.6cm;
                    height: 1.6cm;
            
                    h4{
                        font-size: 1.2rem;
                        font-weight: bolder;
                    }
            
                    p{
                        font-size: 0.6rem;
                    }
                }
            }
    
            .campos{
                width: 22rem;
    
                h2{
                    font-size: 1.2rem;
                    padding: 0.2rem;
                }
    
                span{
                    input{
                        width: 9rem;
                    }
                }
            }
    
            .impreessoras{
                width: 22rem;

            }
    
            .btnImprimir{
                width: 22rem;
    
                .qtdade{
                        input{
                        width: 3rem;
                        border-radius: 5px;
                    }
                }
            }
        } 
    }
}