@import '../../../../../variables';

.cadastroUsuarios{

    .tabela{
        overflow-y: scroll !important;
        overflow-x: scroll !important;
        
        thead{
            position: sticky;
            top: 0;
        }
    }

    .input-group{
        width: 11rem;
        margin: auto 0 !important;
        
        label, select{
            border: 1px solid $border-color-gray;
            color: $white-color;
        }

        label{
            background-color: $blue-default;
        }

        #inputGroupSelect01{
            color: $dark-text-color !important;
        }
    }

    label{
        background-color: $blue-default;
    }
    
    .filtro{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .linhafilterHidden{
            display: none !important;
            transition: all 0.2s ease-in-out;
        }
    
        .linha {
            display: flex !important;
            flex-direction: row !important;
            justify-content: space-around!important;
            gap: 0.5rem;
            margin: 0 1rem 0 0.5rem ;

            .search{
                margin-left: 1rem;
                display: flex !important;
                gap: 1rem;
                align-content: center;

                button{
                    background-color: transparent ;
                    margin: 0.5rem 0.3rem 0 0 ;
                    align-items: center;

                    img{
                        width: 25px;
                    }
                }
            }

            .input-filtro{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 10rem;

                .data{
                    width: auto!important;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: auto;
                }
                
                input{
                    margin-top: 0.15rem;
                }

                label{
                    border: 1px solid $dark-text-color;
                    border-radius: 8px 8px 0 0;
                    font-weight: bold;
                    background-color: $blue-default;
                    color: $white-color;
                }

                input, select{
                    border: 1px solid $dark-text-color;
                    border-radius: 0 0 8px 8px;
                    padding: 0 0.5rem;
                    color: $dark-text-color;
                    line-height: none;
                }
            }

            .dtInicio{
                border-radius: 0 0 0 8px !important;
            }

            .dtFim{
                border-radius: 0 0 8px 0 !important;
            }

            .input-filtro-menor{
                width: 8rem !important
            }

            .input-filtro-data{
                width: 17rem !important
            }

        }
    }

    .table{
        text-align: left;
        width: 100% !important;
        overflow-y: visible !important;
    }

    td, th{
        padding: 0.1rem 0.5rem !important;
        font-size: 0.9rem !important;
        height: 5px !important;
        white-space: nowrap;
    }

   .icon{
        width: 20px;
        cursor: pointer;
   }

   .lixeira{
    width: 15px;
    cursor: pointer;
   }

   .disable{
    cursor: default;
   }

   .shared{
       cursor: default !important;
   }

   .short{
    width: 8rem;
    padding: 0 0.1rem;
    text-align: center;
   }
}


@media (max-width: 1520px) {

    .cadastroUsuarios{

        .titulo{
            margin: 0;
            padding: 0 0.7rem;

            h2{
                font-size: 1.2rem;
                margin: 0.5rem;
                padding: 0.2rem;
            }
    
            .btn-filtros{
                cursor: pointer;
                font-size: 0.9rem !important;
            }
        
        }

        .filtro{
            p{
                font-size: 0.9rem !important;
            }
        }

        .table{
            text-align: left;
            width: 100% !important;
            overflow-y: visible !important;
        }
    
        td, th{
            padding: 0.1rem 0.5rem !important;
            font-size: 0.7rem !important;
            height: 5px !important;
        }

        .icon, .lixeira{
            width: 15px;
        }  
    }

}