@import '../../../../variables';

.controleMovimentoVeiculos{

    .tabela{
        overflow-y: scroll !important;
        overflow-x: scroll !important;
        
        thead{
            position: sticky;
            top: 0;
        }
    }

    .table{
        text-align: left;
        width: 100% !important;
        overflow-y: visible !important;
    }

    th{
        vertical-align: bottom;
    }

    td, th{
        padding: 0.1rem 0.5rem !important;
        font-size: 0.9rem !important;
        height: 5px !important;
        white-space: nowrap;
    }

   .icon{
        width: 20px;
        cursor: pointer;
   }

   .disable{
        cursor: default;
   }

   .shared{
       cursor: default !important;
       
   }
}

@media (max-width: 1520px) {

    .controleMovimentoVeiculos{    

        .tabela{
            text-align: left;
            width: 100% !important;
            overflow-y: visible !important;
        }

        .table{
            text-align: left;
            width: 100% !important;
            overflow-y: visible !important;
        }
    
        td, th{
            padding: 0.1rem 0.5rem !important;
            font-size: 0.65rem !important;
            height: 5px !important;
        }

        .icon{
            width: 15px;
        }    
    }

}