@import '../../../../../variables';

.editarUsuarios{

    .bloco{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0rem;
        padding-bottom: 1rem;
        border-bottom: 1px dashed gray;
    }

    .tips{
        font-size: 0.9rem;
        color: $dark-text-color;
    }
    
    form{
        display: flex;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        align-items: center;

        .bloco{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0rem;
            padding-bottom: 1rem;
            border-bottom: 1px dashed gray;
            margin-left: 1rem;
        }
        
        .ladoEsq, .ladoDir{
            position: relative;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;

            .form-group{
                padding: 0.3rem;
                display: flex;
                gap: 0.5rem;
                text-align: center;
                align-items: center;
            }
        } 

        label{
            width: 15rem;
            padding: 0.3rem 1rem;
            font-weight: 700;
            text-align: right;
            border-radius: 8px;
            box-shadow: 2px 2px 2px  $shadow-color;
        }


        input{
            width: 25rem;
            padding: 0.3rem 1rem;
            border: 1px solid $shadow-color;
            background-color: $dark-text-color;
            color: $select-input-background;
            border-radius: 8px;
        }

        select{
            width: 25rem;
            padding: 0.3rem 1rem;
            border: 1px solid $shadow-color;
            background-color: $dark-text-color;
            color: $select-input-background;
            border-radius: 8px;
        }

        .erros{
            width: 11rem;
            text-align: left;
            color: $erro;
        }

        .none{
            opacity: 0;
        }

        .desabilitado{
            color: $placeholder;
        }
    }
}

@media (max-width: 1370px) {

    .editarUsuarios{

        .tips{
            font-size: 0.7rem;
        }

        .eye{
            width: 14px;
        }
    
        .copy{
        width: 14px;
        }

        .form{

            .ladoEsq, .ladoDir{
                .form-group{
                    padding: 0.2rem;
                }
            }  
            
            label{
                width: 10rem;
            }    
            input{
                width: 17rem;
            }

            select{
                width: 17rem;

            }

            .erros{
                width: 7rem;
            }
        }

        .textPassword{
            width: 8rem !important;
            height: 1.71rem;

        }
    }

}