@import '../../../../variables';

.menuPortaria{
    .geral{
           .title{
            width: auto !important;
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    
        .cadastro{
            width: 45rem;
        }
    
        h1{
            margin: auto;
            font-size: 1.5rem !important;
        }
    
        p{
            border-bottom: 1px solid black;
        }
    
        img{
            width: 30px !important;
        }
    }
}

@media (max-width: 1520px) {
    .menuPortaria{
        .geral{
            height: 37px;
            .title{
                width: 21rem;
                gap: 0.5rem;

                h1{
                    margin: 0 !important;
                    padding: 0 !important;
                    font-size: 1.1rem !important;
                }
            }
        
            .cadastro{
                width: 45rem;
            }
        


            a, p{
                font-size: 0.75rem;
            }
        
            img{
                width: 23px !important;
                height: 23px !important;
            }
        }
    }
}