@import '../../../../variables';

.etiCura{
    display: flex;
    flex-direction: column;
    height: auto;  

    .corpoBloco{
        width: 25rem;
        margin: 5rem auto ;

        .etiqueta{
            display: flex;
            justify-content: center;
            width: 25rem;
            border: 1px dashed $border-color-gray;
            border-radius: 8px;
            background-color: $bck-color;
            padding: 0.5rem;

            .item{
                width: 22rem;
                background-color: $background;
                border-radius: 8px;
        
                h4{
                    margin: 0.5rem;
                    border: 1px solid black;
                    font-size: 1.2rem;
                    font-weight: bolder;
                }
                h5, h6{
                    margin: 0.5rem;
                    font-size: 1rem;
                }
            }
        }

    }

    .impreessoras{
        width: 25rem;
        .select{
            margin: 1rem;
            border: 1px dashed $border-color-gray;
            border-radius: 5px;
        }
    }

    .btnImprimir{
        width: 25rem;

        .qtdade{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: auto;
            margin-top: 1.5rem;
    
                input{
                width: 5rem;
                border: 1px dashed $border-color-gray;
                border-radius: 8px;
                padding: 0 0.5rem;
                color: $dark-text-color;
                line-height: none;
            }

            .conta{
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }
    }
}

@media (max-width: 1520px) {

    .etiCura{

        .corpoBloco{
            width: 25rem;
            margin: 1.7rem auto;
    
            .etiqueta{
                width: 22rem;
                gap: 1rem;
    
                .item{
                    width: 19rem;
            
                    h4{
                        margin: 0.45rem;
                        font-size: 1rem;
                    }
                    h5, h6{
                        margin: 0.4rem;
                        font-size: 0.8rem;
                    }
                }
            }
    
        }
    
        .impreessoras{
            width: 22rem;
        }
    
        .btnImprimir{
            width: 22rem;
    
            .qtdade{
                input{
                    width: 3rem;
                    border-radius: 5px;
                }
            }
        }
    }
}