@import '../../../../variables';

.etiCura{
    display: flex;
    flex-direction: column;
    align-items: center !important;

    .tabela{
        height: 600px !important;
        overflow-y: visible !important;
    }

    h2{
        font-size: 1.5rem;
        margin: 0.8rem;
        padding: 0.2rem;
    }

    .titulo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    
        .px-4{
            width: 50rem;
            margin: auto 0 !important;
            --bs-pagination-border-color: gray !important;
        }
    }

    .item{
        width: 24rem;
        background-color: orange; 
        border-radius: 8px;

        h4{
            margin: 0.5rem;
            border: 1px solid black;
            font-size: 1.2rem;
            font-weight: bolder;
        }
        h5, h6{
            margin: 0.5rem;
            font-size: 1rem;
        }

    }
    
    .etiqueta{
        display: flex;
        justify-content: center;
        width: 27rem;
        border: 1px dashed black;
        border-radius: 8px;
        background-color: $bck-color;
        padding: 0.5rem;
    }

    .select{
        border: 1px solid black;
    }


    .titulo-etiqueta{
        border: 2px solid black;
        height: 35px;
    }

    .qtdade{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;

            input{
            width: 5rem;
            border: 1px solid black;
            border-radius: 8px;
            padding: 0 0.5rem;
            color: $dark-text-color;
            line-height: none;
        }
    }

    .conta{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .okBtn, .escBtn{
        width: 15rem;
        height: 35px !important;
        margin: 2rem 0 0 0.5rem  !important;
        padding: 0;
    }

   .msg{
    width: 40rem;
    margin: 2rem auto;
    padding:  0.5rem 1rem;
    color: $dark-text-color;
    font-weight: 700;
    border-radius: 9px;
    }

    .hidden{
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }

    .success{
        opacity: 1;
        background-color: aquamarine;
        transition: all 0.2s ease-in-out;
    }

    .error{
        opacity: 1;
        background-color: rgb(255, 127, 127);
        transition: all 0.2s ease-in-out;
    }
}