@import '../../../../variables';

.menuFinanceir{
    height: 200px;
    .geral{
        height: 45px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: auto;
        margin: 0.5rem;
        background-color: $bck-color;
        padding: 0.5rem;
        border: 1px solid $border-color;
        border-radius: 7px;
        box-shadow: 3px 3px 5px $shadow-color;
        overflow: visible;
        z-index: 99;
    
        .title{
            width: auto !important;
            display: flex;
            gap: 1rem;
            align-items: center;
        }
    
        .cadastro{
            width: 45rem;
        }
    
        h1{
            margin: auto;
            font-size: 1.5rem !important;
        }
    
        p{
            border-bottom: 1px solid black;
        }
    
        img{
            width: 30px !important;
        }
    }
}

@media (max-width: 1370px) {
    .menuFinanceir{
        .geral{
            gap: 1rem !important;
            margin: 0.5rem;
            padding: 0.3rem;

            .title{
                width: 21rem;
                gap: 0.5rem;
            }
        
            .cadastro{
                width: 45rem;
            }
        
            h1{
                font-size: 1.4rem !important;
            }

            a, p{
                font-size: 0.75rem;
            }
        
            img{
                width: 30px !important;
                height: 30px !important;
            }
        }
    }
}