@import "../variables";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 99.5%;
  font-family: $font-sans-serif;
  vertical-align: baseline;
  overflow: hidden;
}

a{
    text-decoration: none !important;
}

#root{
    width: 100vw;
    height: 100vh;
    background-image: url(../public/images/fundo.jpg);
    background-repeat: repeat;
    background-size: cover;
    text-align: center;
    margin: auto;
}

body{
    width: 100%;
}

h1{
    font-size: 2.2rem;
}

h3{
    font-size: 1.3rem;
}

p{
    margin: 0 !important;
}

.corpo{
    height: 800px;
    margin: 0 0.8rem;
    border-radius: 10px;
    background-color: $background;

    .lateralEsquerda, .lateralDireita{
        margin: 0.5rem;
        background-color: $white-color;
        border: 1px solid $border-color;
        box-shadow: 2px 2px 2px $shadow-color;
        border-radius: 8px;
    }
}


.expanded{
    display: grid;
    grid-template-columns: 190px auto;
    transition: all 0.2s ease-in-out;
}

.retract{
    display: grid;
    grid-template-columns: 90px auto;
    transition: all 0.2s ease-in-out;
}

.Btn{
    width: 11rem;
    height: auto;
    padding: 0.27rem !important;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 0.95rem;    
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.46), 0 3px 6px rgba(0, 0, 0, 0.43);
    transition: 0.2s ease;
    cursor: pointer;
}

.Btn:active{
    transform: translate(3px, -3px);
}

.defaultBtn{
    color: #eee;
    background-color: $defaultBtn;
}

.defaultBtn:hover{
    background-color: $defaultBtn-hover
}

.okBtn{ 
    margin-top: 1.5rem;
    color: #eee;
    background-color: $okBtn;
}

.okBtn:hover{
    background-color: $okBtn-hover
}

.escBtn{
    margin-top: 1.5rem;
    color: #eee;
    background-color: $escBtn;
}

.escBtn:hover{
    background-color: $escBtn-hover
}

//mensagens rodapé da página
.msg{
    position: fixed;
    left: 50%;
    bottom: 0;
    padding: 10px;
    text-align: center;
    transform: translateX(-50%);
    width: 50%;
    margin: 2rem auto;
    padding:  0.5rem 1rem;
    color: $dark-text-color;
    font-weight: 700;
    border-radius: 9px;
    bottom: -100px; /* Começa escondida abaixo da tela */
    transition: bottom 0.3s ease; /* Adiciona uma transição suave */
}

.hidden{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.success{
    opacity: 1;
    background-color: aquamarine;
    transition: all 0.2s ease-in-out;
    bottom: 0; /* Mostra a div no rodapé */
}

.error{
    opacity: 1;
    background-color: rgb(255, 127, 127);
    transition: all 0.2s ease-in-out;
    bottom: 0; /* Mostra a div no rodapé */
}   

