@import "../variables";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 99.5%;
  font-family: $font-sans-serif;
  vertical-align: baseline;
  overflow: hidden;
}

a{
    text-decoration: none !important;
}

#root{
    width: 100vw;
    height: 100vh;
    background-image: url(../public/images/fundo.jpg);
    background-repeat: repeat;
    background-size: cover;
    text-align: center;
    margin: auto;
}

body{
    width: 100%;
}

h1{
    font-size: 2.2rem;
}

h3{
    font-size: 1.3rem;
}

p{
    margin: 0 !important;
}

.corpo{
    height: 810px;
    margin: 0 0.8rem;
    border-radius: 10px;
    background-color: $background;

    .lateralEsquerda, .lateralDireita{
        margin: 0.5rem;
        background-color: $white-color;
        border: 1px solid $border-color;
        box-shadow: 2px 2px 2px $shadow-color;
        border-radius: 8px;        
    }
}


.expanded{
    display: grid;
    grid-template-columns: 190px auto;
    transition: all 0.2s ease-in-out;
}

.retract{
    display: grid;
    grid-template-columns: 90px auto;
    transition: all 0.2s ease-in-out;
}

//classe botão geral
.botoes{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.2rem;
}

//classe botão default
.defaultBtn{
    width: 11rem;
    height: auto;
    border-radius: 7px;
    box-shadow: 3px 3px 3px $shadow-color;
    margin: 0.5rem;
    padding: 0.2rem 0;
    color: $white-color;
    transition: all 0.2s ease-in-out;
}

.defaultBtn:hover{
    transition: all 0.2s ease-in-out;
}

.defaultBtn:active{
    transform: translate(2px, -2px);
}

.defaultBtn:disabled{
    cursor: not-allowed !important;
    transform: none;
}

//botão OK
.okBtn{ 
    background-color: $okBtn;
}

.okBtn:disabled{
    background-color: $okBtn-hover !important;
}

.okBtn:hover{
    background-color: $okBtn-hover;
}

//botão esc
.escBtn{
    background-color: $escBtn;
}

.escBtn:hover{
    background-color: $escBtn-hover;
}

.inBtn{
    background-color: $defaultBtn;
}

.inBtn:hover{
    background-color: $defaultBtn-hover;
}

//mensagens rodapé da página
.msg{
    position: fixed;
    left: 50%;
    padding: 10px;
    text-align: center;
    transform: translateX(-50%);
    width: 50%;
    margin: 2rem auto;
    padding:  0.5rem 1rem;
    color: $dark-text-color;
    font-weight: 700;
    border-radius: 9px;
    bottom: -100px; /* Começa escondida abaixo da tela */
    transition: bottom 0.3s ease; /* Adiciona uma transição suave */
}

.hidden{
    opacity: 0;
    transition: all 0.2s ease-in-out;

}

.success{
    opacity: 1;
    background-color: aquamarine;
    transition: all 0.2s ease-in-out;
    bottom: 0px; /* Mostra a div no rodapé */
    z-index: 99;
}

.error{
    opacity: 1;
    background-color: rgb(255, 127, 127);
    transition: all 0.2s ease-in-out;
    bottom: 0px; /* Mostra a div no rodapé */
    z-index: 99;
}   

//menu navegação dropdowm
.menu-nav{
    z-index: 99;
    overflow: visible;

    .menu-principal{
        display: flex;

        li{
            display: flex;
            flex-direction: column;
            width: 13rem;

            :hover{
                background-color:$background;
                font-weight: bolder;
            }

            .sub-menu{
                background-color:$background;
                overflow: visible;

                li{
                    padding: 0.1rem;
                    margin: 0.1rem;

                    a{
                        text-align: left;
                        padding: 0;   
                        color: $dark-text-color;
                        font-weight: 400;
                    }

                    :hover{
                        font-weight: bolder;
                    }
                }
            }
        }
    }
}

@media (max-width: 1370px) {
    *{
        font-size: 97.2%;
    }

    .corpo{
        height: 530px;
    
        .lateralEsquerda, .lateralDireita{
            margin: 0.4rem;
        }
    }


    .expanded{
        grid-template-columns: 140px auto;
    }
    
    .retract{
        grid-template-columns: 75px auto;
    }

    h1{
        font-size: 1.8rem;
    }
    
    h3{
        font-size: 1rem;
    }

    .defaultBtn{
        width: 9rem;
        border-radius: 5px;
        box-shadow: 3px 3px 3px $shadow-color;
    }
  }