@import '../../../../variables';

.NovoMovimento{

    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2{
        font-size: 1.5rem;
        margin: 0.8rem;
        padding: 0.2rem;
    }



    form, .saida, .retorno{
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h3{
            text-decoration: underline;
            margin: 0.5rem;
        }
        
        .linha{
            width: 100%;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            text-align: center;
            display: flex;
            margin: 0.5rem 0 0 0 ;
            padding: 0 0.2rem !important;
        }

        .destino, .motorista, .km, .data, .hora, .observacao, .liberador{
            display: flex;
            label{
                width: 7rem;
                height: 32px;
                margin: 0.1rem 0;
                padding: 0.3rem 1rem !important;
            }

            input::placeholder{
                color: $placeholder;
                text-transform: none;
            }

            input{
                margin-left: 0.5rem;
            }
        }

        /* Estilo para input somente leitura */
        .input-leitura {
            color: $blue-letter; /* Cor do texto */
            cursor: not-allowed; /* Cursor não permitido */
        }

        .observacao{
            textarea{
                height: 3.3rem;
                margin-left: 0.5rem;  
            } 

            textarea::placeholder{
                color: $placeholder;
            }

            p{
                margin-left: 0.5rem !important;
            }
        }

        .lbl-hora, .lbl-data, .lbl-km{
            width: 5rem !important;
        }

        #km, #hora, #data{
            width: 8rem;
        } 

        #destino, #area{
            width: 82rem;
        }

        #motorista{
            width: 20rem;
        }

        input, select, textarea{
            padding: 0.3rem 1rem;
            border: 1px solid $shadow-color;
            background-color: $dark-text-color;
            color: $white-color;
            border-radius: 8px;
        }

        label{
            padding: 0.3rem 1rem;
            font-weight: 700;
            text-align: right;
            border-radius: 8px;
            box-shadow: 2px 2px 2px  $shadow-color;
            box-sizing: border-box;
            
        }

        .erros{
            text-align: center;
            color: $erro;
        }
        .none{
            opacity: 0;
        }

        .desabilitado{
            color: $placeholder;
        }
    }  
    
    .botoes{
        border-top: 1px dashed $border-color-gray ;
    }
}

@media (max-width: 1520px) {

    .NovoMovimento{    
        
        h3{
            text-decoration: underline;
            margin: 0rem;
        }
    
        form, .saida, .retorno{
            gap: 0rem;
   
            .destino, .motorista, .km, .data, .hora, .observacao, .liberador{
                label{
                    width: 6rem;
                    height: 24px;
                }

            }

            .lbl-hora, .lbl-data, .lbl-km{
                width: 4rem !important;
            }
    
            #km{
                width: 5rem;
            } 

            #data{
                width: 6rem;
            } 

            #hora{
                width: 4rem;
            }
    
            #destino, #area{
                width: 60rem !important;
            }
    
            #motorista{
                width: 13rem;
            }
        }
    }
}